.parallax {
    min-height: 50vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.082);
}

.about-header {
    color: white;
    padding: 0.6em;
    font-weight: 700;
    font-size: 2.5rem;
}

.committee {
    margin: 0 auto;
    max-width: 35rem;
}

.profile-img {
    display: block;
    margin: 0 auto;
    width: 10rem;
    height: 16rem;
    border-radius: 50%;
    background: var(--accent-color)
}

.section-container .social-icons li {
    background-color: #fff;
}

@media screen and (min-width: 23rem) {
    .profile-img {
        width: 12rem;
    }
}

@media screen and (min-width: 30rem) {
    .profile-img {
        width: 15rem;
    }
}

@media screen and (min-width: 70rem) {
    .profile-img {
        width: 16rem;
    }

    .about {
        max-width: 60rem;
    }
}