.parallax {
    min-height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.329);
}

.home-header {
    color: white;
    padding: 0.6em;
    font-weight: 700;
    font-size: 2.5rem;
}

.home-header span {
    display: block;
    font-weight: 400;
}

.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 3px;
    border-style: solid;
    padding: .5em 1.75em;
    font-weight: 700;
    z-index: 10;
}

.button-accent {    
    color: white;
}

.button-accent:hover,
.button-accent:focus {
    background: var(--accent-color);
    color: white;
    border-color: var(--accent-color);
}

/* Main home content */
main {
    margin: 0 auto;
}

.home-about-textbox {
    max-width: 31em;
    background-color: var(--accent-color);
    padding: 3em;
    outline: 2px solid white;
    outline-offset: -2em;
    color: white;
    position: relative;
}

.home-about-textbox h1 {
    font-size: 1.6rem;
    font-weight: 300;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: .5em;  
    background: var(--accent-color);
    padding: 0 .1em;
}

.home-about-textbox p {
    padding: 1rem;
    text-align: center;
}

.home-video {
    background: white;
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
  }
  
  .home-video iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

/* Resize About Title Mobile */
@media (min-width: 26rem) {
    .home-about-textbox h1 {
        font-size: 2rem;
        top: .3em;
        padding: 0 .25em;
    }
}

/* Resize Mobile Textbox */
@media (min-width: 575px) {
    .home-about {
        padding: 5rem;
    }
}

/* Standard Desktop */
@media (min-width: 70rem) {

    .home-about {
        padding: 8em;
        margin: 0 5rem;
    }
    
    .home-about-textbox {        
        margin-left: -2.5%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .home-about-textbox h1 {
        font-size: 2.4rem;
        top: .1em;
    }

    .video-section {
        margin: 0 auto;
        padding: 5rem 0;
        width: 45rem;
    }
}

/* Ultrawide Desktop */
@media (min-width: 130rem) {
    .home-about {
        padding-left: 15em;
    }
}