:root {
    --maroon: #8F0A37;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient(var(--maroon) 20%, transparent 20%), radial-gradient(var(--maroon) 20%, transparent 20%);
    background-position: 0 0, 5rem 5rem;
    background-size: 10em 10em;
    font-family: 'Montserrat', sans-serif;
  }