/* imports, variables and resets */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap');
:root {
    --accent-color: #8F0A37;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.heading {
    text-align: center;
    margin: 1em;
}

.text {
    text-align: justify;
    margin: 1.3em;
    margin-bottom: 1.5em;
}

.committee-container {
    padding-top: 6em;
}

.section-container {
    margin: 0 auto;
    max-width: 35rem;
}

.profile-img {
    display: block;
    margin: 3em auto;
    width: 10rem;
    height: 16rem;
    border-radius: 50%;
    background: var(--accent-color)
}

@media screen and (min-width: 23rem) {
    .profile-img {
        width: 12rem;
    } 
}

@media screen and (min-width: 30rem) {
    .profile-img {
        width: 15rem;
    }

    .heading {
        font-size: 2rem;
    }

    .text {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 70rem) {
    .profile-img {
        width: 16rem;
    }

    .heading {
        font-size: 2.2rem;
    }

    .text {
        font-size: 1.3em;
    }

    .section-container {
        max-width: 60rem;
    }
}